
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Giới Thiệu</li>
        </ol>
    </div>
</div>
<br />
<!--//breadcrumbs-->
<div class="welcome">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            KMD TEAM
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="w3l-welcome-info">
            <div class="col-sm-3 col-xs-5 welcome-grids">
                <div class="welcome-img">
                    <img src="~/Content/home/images/ankhuong.png" class="img-responsive zoom-img" alt="">
                </div>
                <br />
                <h4 style="text-align:center;font-weight:bold">Nguyễn Lập An Khương</h4><br />
                Trường: <label> ĐH KT-CN Cần Thơ</label><br />
                MSSV: <label> 1800120</label><br />
                Mã lớp: <label> KTPM0118</label><br />
                Năm sinh: <label> 04/12/2000</label><br />
            </div>
            <div class="col-sm-3 col-xs-5 welcome-grids">
                <div class="welcome-img">
                    <img src="~/Content/home/images/ankhuong.png" class="img-responsive zoom-img" alt="">
                </div>
                <br />
                <h4 style="text-align:center;font-weight:bold">Nguyễn Hồng Minh</h4>
            </div>
            <div class="col-sm-3 col-xs-5 welcome-grids">
                <div class="welcome-img">
                    <img src="~/Content/home/images/ankhuong.png" class="img-responsive zoom-img" alt="">
                </div>
                <br />
                <h4 style="text-align:center;font-weight:bold">Nguyễn Lê Phương Duy</h4>
            </div>
            <div class="col-sm-3 col-xs-5 welcome-grids">
                <div class="welcome-img">
                    <img src="images/about2.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3l-welcome-text">
            <br />
            <h3 style="text-align:center">GIỚI THIỆU</h3>
            Website <label>TOYSTORE</label> được <label>KDM TEAM</label> xây dựng và phát triển với sự dẫn dắt của <label>TH.S Trần Thị Thùy Dương</label><br />
            Font-end: HTML, CSS/Bootstrap, JavaScript/JQuery/AJAX.<br />
            Back-end: ASP.NET MVC (.NET Framework 4.8).<br />
            Design Patern: Repository & Unit of Work.<br />
            Database Management System: SQL Server 2019.<br />
            Entity Framework: Code First.<br />
            IDE: Visual Studio 2019.<br />
        </div>
    </div>
</div>