@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<div class="page-head_agile_info_w3l">

</div>
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="index.html">Trang chủ</a>
                    <i>|</i>
                </li>
                <li>Sản phẩm</li>
            </ul>
        </div>
    </div>
</div><div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-body modal-body-sub_agile">
        <div class="main-mailposi">
            <span class="fa fa-envelope-o" aria-hidden="true"></span>
        </div>
        <div class="modal_body_left modal_body_left1">
            <h3 class="agileinfo_sign">Đăng ký tài khoản</h3>
            <p>
                @ViewBag.Email
                <b class="text-danger">@ViewBag.Message</b>
            </p>
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="styled-input agile-styled-input-top">
                    <input type="text" placeholder="Họ tên" name="FullName" required="">
                </div>
                <div class="styled-input agile-styled-input-top">
                    <input type="text" placeholder="Địa chỉ" name="Address" required="">
                </div>
                <div class="styled-input agile-styled-input-top">
                    <input type="text" placeholder="Số điện thoại" name="PhoneNumber" required="">
                </div>
                <div class="styled-input agile-styled-input-top">
                    <input type="text" placeholder="Tên đăng nhập" name="Username" required="">
                </div>
                <div class="styled-input">
                    <input type="email" placeholder="E-mail" name="Email" required="">
                </div>
                <div class="styled-input">
                    <input type="password" placeholder="Mật khẩu" name="Password" id="password1" required="">
                </div>
                <div class="styled-input">
                    <input type="password" placeholder="Nhập lại mật khẩu" name="Confirm Password" id="password2" required="">
                </div>
                <input type="submit" value="Đăng ký">
            }
        </div>
    </div>
</div>
