@{ ViewBag.Title = "Đăng Ký";
                Layout = "~/Views/Layout/HomeLayout.cshtml"; }
<script>
    $(document).ready(function () {
        $(function () {
            $("#phonenumber").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });
        });
    });
</script>
<!--breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang Chủ</a></li>
            <li class="active">Đăng Ký</li>
        </ol>
    </div>
</div>
<br />
<!--//breadcrumbs-->
<!--login-->
<div class="login-page">
    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
        <h3 class="title">Đổi Mật Khẩu</h3>
    </div>
    <div class="widget-shadow">
        <div class="login-body wow fadeInUp animated" data-wow-delay=".7s">
            @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
            {
<p class="text-danger">@ViewBag.Message</p>
                <input type="password" name="CurrentPassword" class="lock" placeholder="Mật khẩu hiện tại..." required>
                                <input type="password" id="Password" name="NewPassword" class="lock" placeholder="Mật khẩu mới..." pattern=".{8,}" required title="Mật khẩu phải từ 8 ký tự trở lên!">
                                                <input type="password" id="confirm_password" name="confirm_password" class="lock" placeholder="Nhập lại mật Khẩu mới..." pattern=".{8,}" required title="Mật khẩu phải từ 8 ký tự trở lên!" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Nhập lại mật khẩu chưa trùng khớp!' : '');">
                                                                <input type="submit" id="btnSignIn" name="Sign In" value="Xác Nhận">            }
        </div>
    </div>
</div>
<!--//login-->
