@using ToyStore.Models
@model Product
@{
    IEnumerable<Comment> comments = ViewBag.CommentList as IEnumerable<Comment>;
    IEnumerable<Member> members = ViewBag.MemberList as IEnumerable<Member>;
}

<hr />
@foreach (var item in comments
    .Join(members, c => c.MemberID, m => m.ID, (c, m) => new { c, m })
    .Select(n => new { FullName = n.m.FullName, Content = n.c.Content, Date = n.c.Date }))
{
    <label style="color:black">@item.FullName</label> @item.Date
    <p style="color:black">@item.Content</p>
}