
@model PagedList.IPagedList<ToyStore.Models.Product>
@using PagedList.Mvc;

<h3 class="heading-tittle">@ViewBag.Name</h3>
@foreach (var item in Model)
{
    @Html.Action("ProductPartial", "Product", new { product = item })
}
<div class="clearfix"></div>
<br />
<div id='Paging' style="text-align: right">
    @Html.PagedListPager(Model, page => Url.Action("FilterProductList", new { type = ViewBag.Type, ID = ViewBag.ID,min = ViewBag.Min,max=ViewBag.Max, page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "ProductContainer" }))
</div>
