
@{
    ViewBag.Title = "Chưa có quyền";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <hr />
            <h2>Bạn chưa có quyền truy cập vào trang này!</h2>
        </div>
    </div>
</div>
