<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- for-mobile-apps -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="Modern Shoppe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//for-mobile-apps -->
    <!--Custom Theme files -->
    <link href="~/Content/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/home/css/flexslider.css" type="text/css" media="screen" />
    <!--//Custom Theme files -->
    <!--js-->
    <script src="~/Content/home/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/home/js/modernizr.custom.js"></script>
    <!--//js-->
    <!--cart-->
    <script src="~/Content/home/js/simpleCart.min.js"></script>
    <script src="~/Content/home/js/jquery.countdown.min.js"></script>
    <script src="~/Content/home/js/jquery.flexslider.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
    <!--cart-->
    <!--web-fonts-->
    @*<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=M PLUS Rounded 1c' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>*@
    <!--web-fonts-->
    <!--animation-effect-->
    <link href="~/Content/home/css/animate.min.css" rel="stylesheet">
    <script src="~/Content/home/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//animation-effect-->
    <!--start-smooth-scrolling-->
    <script type="text/javascript" src="~/Content/home/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/home/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <!--//end-smooth-scrolling-->
</head>
<body>
    @Html.Partial("~/Views/Home/HeaderTopPartial.cshtml")
    @RenderBody()
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-info">
                <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
                    <h4 class="footer-logo"><a href="index.html">KMD <b>ToyStore</b> <span class="tag">Tất cả mọi thứ bé cần </span> </a></h4>
                    <p>© 2021 . All rights reserved | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a> Develop by KMD TEAM</p>
                </div>
                <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
                    <h3>Thông Tin</h3>
                    <ul>
                        <li><a href="about.html">Giới Thiệu</a></li>
                        <li><a href="products.html">Tin Tức</a></li>
                        <li><a href="contact.html">Liên Hệ</a></li>
                        <li><a href="faq.html">Hỏi Đáp</a></li>
                        <li><a href="checkout.html">Vị Trí</a></li>
                    </ul>
                </div>
                <div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
                    <h3>Đăng Ký</h3>
                    <p>Đăng ký ngay để nhận được nhiều ưu đãi</p>
                    <form>
                        <input type="text" placeholder="Nhập vào Email" required="">
                        <input type="submit" value="Bắt đầu">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//footer-->
    <!--search jQuery-->
    <script src="~/Content/home/js/main.js"></script>
    <!--//search jQuery-->
    <!--smooth-scrolling-of-move-up-->
    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!--//smooth-scrolling-of-move-up-->
    <!--Bootstrap core JavaScript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster -->
    <script src="~/Content/home/js/bootstrap.js"></script>
</body>
</html>