<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Sản phẩm</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link href="~/Content/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/home/css/font-awesome.css" rel="stylesheet">
    <!--pop-up-box-->
    <link href="~/Content/home/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="~/Content/home/css/jquery-ui1.css">
    <!-- flexslider -->
    <link rel="stylesheet" href="~/Content/home/css/flexslider.css" type="text/css" media="screen" />
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="~/Content/home/css/jquery-ui1.css">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    @Html.Partial("~/Views/Home/HeaderTopPartial.cshtml")
    @Html.Action("MenuPartial", "Home")
    <div class="page-head_agile_info_w3l">

    </div>
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a href="index.html">Trang chủ</a>
                        <i>|</i>
                    </li>
                    <li>Sản phẩm</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ads-grid">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- //top products -->
    <!-- special offers -->
    <div class="featured-section" id="projects">
        <div class="container">
            <!-- tittle heading -->
            @*<h3 class="tittle-w3l">
                    Ưu đãi đặc biệt
                    <span class="heading-style">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </h3>*@
            @{
                IEnumerable<ToyStore.Models.Product> products4 = ViewBag.ListProduct4;
            }

        </div>
    </div>
    <!-- //special offers -->
    <!-- newsletter -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="col-xs-8 agile-leftmk">
                <h2>Nhận địa chỉ cửa hàng gần nơi bạn ở</h2>
                <p>Freeship cho đơn hàng đầu tiên của bạn</p>
                <form action="#" method="post">
                    <input type="email" placeholder="E-mail" name="email" required="">
                    <input type="submit" value="Đăng ký">
                </form>
                <div class="newsform-w3l">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-xs-4 w3l-rightmk">
                <img src="~/Content/home/images/tab3.png" alt=" ">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //newsletter -->
    <!-- footer -->
    <footer>
        <div class="container">
            <!-- footer first section -->
            <p class="footer-main">
                <span>"Grocery Shoppy"</span> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                magni dolores eos qui ratione voluptatem sequi nesciunt.Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt explicabo.
            </p>
            <!-- //footer first section -->
            <!-- footer second section -->
            <div class="w3l-grids-footer">
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Theo dõi đơn hàng của bạn</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Miễn phí đổi trả hàng</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-times" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Hủy đơn hàng Online </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //footer second section -->
            <!-- footer third section -->
            <div class="footer-info w3-agileits-info">
                <!-- footer categories -->
                <div class="col-sm-5 address-right">
                    <div class="col-xs-6 footer-grids">
                        <h3>Danh Mục</h3>
                        <ul>
                            <li>
                                <a href="product.html">Grocery</a>
                            </li>
                            <li>
                                <a href="product.html">Fruits</a>
                            </li>
                            <li>
                                <a href="product.html">Soft Drinks</a>
                            </li>
                            <li>
                                <a href="product2.html">Dishwashers</a>
                            </li>
                            <li>
                                <a href="product.html">Biscuits & Cookies</a>
                            </li>
                            <li>
                                <a href="product2.html">Baby Diapers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 footer-grids agile-secomk">
                        <ul>
                            <li>
                                <a href="product.html">Snacks & Beverages</a>
                            </li>
                            <li>
                                <a href="product.html">Bread & Bakery</a>
                            </li>
                            <li>
                                <a href="product.html">Sweets</a>
                            </li>
                            <li>
                                <a href="product.html">Chocolates & Biscuits</a>
                            </li>
                            <li>
                                <a href="product2.html">Personal Care</a>
                            </li>
                            <li>
                                <a href="product.html">Dried Fruits & Nuts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- //footer categories -->
                <!-- quick links -->
                <div class="col-sm-5 address-right">
                    <div class="col-xs-6 footer-grids">
                        <h3>Liên Kết Nhanh</h3>
                        <ul>
                            <li>
                                <a href="about.html">Giới thiệu</a>
                            </li>
                            <li>
                                <a href="contact.html">Liên hệ</a>
                            </li>
                            <li>
                                <a href="help.html">Trợ giúp</a>
                            </li>
                            <li>
                                <a href="faqs.html">Thẻ</a>
                            </li>
                            <li>
                                <a href="terms.html">Điều khoản</a>
                            </li>
                            <li>
                                <a href="privacy.html">Chính sách bảo mật</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 footer-grids">
                        <h3>Thông Tin Liên Hệ</h3>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i> 132 Nguyễn Đệ, An Hòa, Ninh Kiều, Cần Thơ.
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i> +84 907 892 198
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> +84 907 892 198
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <a href="mailto:example@mail.com"> lapankhuongnguyen@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //quick links -->
                <!-- social icons -->
                <div class="col-sm-2 footer-grids  w3l-socialmk">
                    <h3>Follow Us</h3>
                    <div class="social">
                        <ul>
                            <li>
                                <a class="icon fb" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="icon tw" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="icon gp" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="agileits_app-devices">
                        <h5>Tải về App</h5>
                        <a href="#">
                            <img src="~/Content/home/images/1.png" alt="">
                        </a>
                        <a href="#">
                            <img src="~/Content/home/images/2.png" alt="">
                        </a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!-- //social icons -->
                <div class="clearfix"></div>
            </div>
            <!-- //footer third section -->
            <!-- footer fourth section (text) -->
            <div class="agile-sometext">
                <div class="sub-some">
                    <h5>Mua sắm trực tuyến với các ưu đãi và dịch vụ tốt nhất</h5>
                    <p>
                        Now Get Upto 40% Off On Everyday Essential Products Shown On The Offer Page. The range includes Grocery, Personal Care,
                        Baby Care, Pet Supplies, Healthcare and Other Daily Need Products. Discount May Vary From Product To Product.
                    </p>
                </div>
                <!-- brands -->
                <div class="sub-some">
                    <h5>Thương hiệu phổ biến</h5>
                    <ul>
                        <li>
                            <a href="product.html">Aashirvaad</a>
                        </li>
                        <li>
                            <a href="product.html">Amul</a>
                        </li>
                        <li>
                            <a href="product.html">Bingo</a>
                        </li>
                        <li>
                            <a href="product.html">Boost</a>
                        </li>
                        <li>
                            <a href="product.html">Durex</a>
                        </li>
                        <li>
                            <a href="product.html"> Maggi</a>
                        </li>
                        <li>
                            <a href="product.html">Glucon-D</a>
                        </li>
                        <li>
                            <a href="product.html">Horlicks</a>
                        </li>
                        <li>
                            <a href="product2.html">Head & Shoulders</a>
                        </li>
                        <li>
                            <a href="product2.html">Dove</a>
                        </li>
                        <li>
                            <a href="product2.html">Dettol</a>
                        </li>
                        <li>
                            <a href="product2.html">Dabur</a>
                        </li>
                        <li>
                            <a href="product2.html">Colgate</a>
                        </li>
                        <li>
                            <a href="product.html">Coca-Cola</a>
                        </li>
                        <li>
                            <a href="product2.html">Closeup</a>
                        </li>
                        <li>
                            <a href="product2.html"> Cinthol</a>
                        </li>
                        <li>
                            <a href="product.html">Cadbury</a>
                        </li>
                        <li>
                            <a href="product.html">Bru</a>
                        </li>
                        <li>
                            <a href="product.html">Bournvita</a>
                        </li>
                        <li>
                            <a href="product.html">Tang</a>
                        </li>
                        <li>
                            <a href="product.html">Pears</a>
                        </li>
                        <li>
                            <a href="product.html">Oreo</a>
                        </li>
                        <li>
                            <a href="product.html"> Taj Mahal</a>
                        </li>
                        <li>
                            <a href="product.html">Sprite</a>
                        </li>
                        <li>
                            <a href="product.html">Thums Up</a>
                        </li>
                        <li>
                            <a href="product2.html">Fair & Lovely</a>
                        </li>
                        <li>
                            <a href="product2.html">Lakme</a>
                        </li>
                        <li>
                            <a href="product.html">Tata</a>
                        </li>
                        <li>
                            <a href="product2.html">Sunfeast</a>
                        </li>
                        <li>
                            <a href="product2.html">Sunsilk</a>
                        </li>
                        <li>
                            <a href="product.html">Patanjali</a>
                        </li>
                        <li>
                            <a href="product.html">MTR</a>
                        </li>
                        <li>
                            <a href="product.html">Kissan</a>
                        </li>
                        <li>
                            <a href="product2.html"> Lipton</a>
                        </li>
                    </ul>
                </div>
                <!-- //brands -->
                <!-- payment -->
                <div class="sub-some child-momu">
                    <h5>Phương thức thanh toán</h5>
                    <ul>
                        <li>
                            <img src="~/Content/home/images/pay2.png" alt="">
                        </li>
                        <li>
                            <img src="~/Content/home/images/pay5.png" alt="">
                        </li>
                        <li>
                            <img src="~/Content/home/images/pay1.png" alt="">
                        </li>
                        <li>
                            <img src="~/Content/home/images/pay4.png" alt="">
                        </li>
                        <li>
                            <img src="~/Content/home/images/pay6.png" alt="">
                        </li>
                        <li>
                            <img src="~/Content/home/images/pay3.png" alt="">
                        </li>
                        <li>
                            <img src="images/pay7.png" alt="">
                        </li>
                        <li>
                            <img src="images/pay8.png" alt="">
                        </li>
                        <li>
                            <img src="images/pay9.png" alt="">
                        </li>
                    </ul>
                </div>
                <!-- //payment -->
            </div>
            <!-- //footer fourth section (text) -->
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right">
        <div class="container">
            <p>
                © 2021 TOYSTORE KMDTEAM. Chưa đăng ký bản quyền | Design by
                <a href="http://w3layouts.com"> W3layouts.</a> | Develop by KMDTEAM
            </p>
        </div>
    </div>
    <!-- //copyright -->
    <!-- js-files -->
    <!-- jquery -->
    <script src="~/Content/home/js/jquery-2.1.4.min.js"></script>
    <!-- //jquery -->
    <!-- popup modal (for signin & signup)-->
    <script src="~/Content/home/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- Large modal -->
    <!-- <script>
        $('#').modal('show');
    </script> -->
    <!-- //popup modal (for signin & signup)-->
    <!-- cart-js -->
    <script src="~/Content/home/js/minicart.js"></script>
    <script>
        paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

        paypalm.minicartk.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="~/Content/home/js/jquery-ui.js"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
    <!-- imagezoom -->
    <script src="~/Content/home/js/imagezoom.js"></script>
    <!-- //imagezoom -->
    <!-- FlexSlider -->
    <script src="~/Content/home/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!-- flexisel (for special offers) -->
    <script src="~/Content/home/js/jquery.flexisel.js"></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <!-- //flexisel (for special offers) -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- smoothscroll -->
    <script src="~/Content/home/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Content/home/js/move-top.js"></script>
    <script src="~/Content/home/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Content/home/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->


</body>

</html>