@using ToyStore.Models
@model ImportCoupon
@{
    ViewBag.Title = "Nhập Hàng";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<script src="~/Scripts/bootbox.js"></script>
@{
    IEnumerable<Supplier> lstSupplier = ViewBag.listSupplier as IEnumerable<Supplier>;
}
<script>
    $(document).ready(function () {
        $('#btnSupplier').off('click').on('click', function () {
            $('#modalSupplier').modal('show');
        });
    });
    $(window).load(function () {
        $('#modalSupplier').modal('show');
    });
</script>
@{
    if (TempData["ImportProduct"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal({
                    title: "Thông báo",
                    text: "Nhập hàng     thành công!",
                    icon: "success",
                    timer: 1500
                });
            };

        </script>
    }
}
<div class="agile-grids">
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h2>Nhập Hàng</h2>
            <input type="button" class="btn btn-success" value="Chọn Nhà Cung Cấp" id="btnSupplier" />
        </div>
    </div>
</div>
<div class="modal fade" id="modalSupplier" role="dialog">
    <div class="modal-dialog">

        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn Nhà Cung Cấp</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ImportProductBySupplierID", "ImportProductManage", FormMethod.Get))
                {
                    <div class="form-group">
                        <label>Nhà Cung Cấp:</label>
                        <select name="ID">
                            @foreach (var item in lstSupplier)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnSave">Chọn</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
