
    <a href="/gio-hang"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
    <h4>
        <a href="/gio-hang">
            @ViewBag.TotalPrice₫ (@ViewBag.TotalQuanity)
        </a>
    </h4>
    <div class="cart-box">
        <p><a href="/gio-hang">Xem Giỏ Hàng</a></p>
        <div class="clearfix"> </div>
    </div>
