USE [ToyStore2021]
GO
/****** Object:  Table [dbo].[AccessTimesCount]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessTimesCount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[AccessTimes] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AccessTimesCount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Age]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Age](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[SEOKeyword] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Ages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decentralization]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decentralization](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[UserTypeID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Decentralization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCode]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpirationDate] [datetime] NULL,
	[NumberDiscount] [int] NULL,
	[UserID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_DiscountCode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCodeDetail]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCodeDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountCodeID] [int] NULL,
	[Code] [nvarchar](20) NULL,
	[IsUsed] [bit] NULL,
	[IsOwned] [bit] NULL,
 CONSTRAINT [PK_DiscountCodeDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportCoupon]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportCoupon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[UserID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ImportCoupon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportCouponDetail]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportCouponDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ImportCouponID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ImportCouponDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCart]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Cart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FromUserID] [int] NULL,
	[ToUserID] [int] NULL,
	[Content] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[Sent] [bit] NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DateOrder] [datetime] NOT NULL,
	[DateShip] [datetime] NOT NULL,
	[Offer] [int] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[IsCancel] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[IsDelivere] [bit] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[IsReceived] [bit] NOT NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsRating] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[SEOKeyword] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Producer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[ParentID] [int] NOT NULL,
	[SEOKeyword] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategoryParent]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategoryParent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[SeoKeyword] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.ProductCategoryParent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Image1] [nvarchar](256) NULL,
	[Image2] [nvarchar](256) NULL,
	[Image3] [nvarchar](256) NULL,
	[Image4] [nvarchar](256) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PromotionPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ViewCount] [int] NULL,
	[PurchasedCount] [int] NULL,
	[ProducerID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[AgeID] [int] NOT NULL,
	[GenderID] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[SEOKeyword] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductViewed]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductViewed](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ProductViewed] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QA]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserAskID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Question] [nvarchar](1000) NULL,
	[Answer] [nvarchar](1000) NULL,
	[DateQuestion] [datetime] NULL,
	[DateAnswer] [datetime] NULL,
	[UserAnswerID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Star] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Rating] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[NameDisplay] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 0) NULL,
 CONSTRAINT [PK_dbo.Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeID] [int] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[Capcha] [nvarchar](max) NULL,
	[AmountPurchased] [decimal](18, 0) NULL,
	[Avatar] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDiscountCode]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDiscountCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DiscountCodeDetailID] [int] NULL,
 CONSTRAINT [PK_UserDiscountCode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersSpin]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersSpin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[NumberOfSpins] [int] NULL,
 CONSTRAINT [PK_UsersSpin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 1/5/2022 7:19:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.UserType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccessTimesCount] ON 

INSERT [dbo].[AccessTimesCount] ([ID], [Date], [AccessTimes]) VALUES (1, CAST(N'2021-08-29T12:39:32.123' AS DateTime), 1)
INSERT [dbo].[AccessTimesCount] ([ID], [Date], [AccessTimes]) VALUES (2, CAST(N'2021-09-03T17:08:24.907' AS DateTime), 1)
INSERT [dbo].[AccessTimesCount] ([ID], [Date], [AccessTimes]) VALUES (3, CAST(N'2021-09-11T08:20:07.993' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[AccessTimesCount] OFF
SET IDENTITY_INSERT [dbo].[Age] ON 

INSERT [dbo].[Age] ([ID], [Name], [SEOKeyword]) VALUES (1, N'1 - 3 tuổi', N'1-3-tuoi')
SET IDENTITY_INSERT [dbo].[Age] OFF
SET IDENTITY_INSERT [dbo].[Decentralization] ON 

INSERT [dbo].[Decentralization] ([ID], [RoleID], [Note], [UserTypeID]) VALUES (106, 9, NULL, 2)
INSERT [dbo].[Decentralization] ([ID], [RoleID], [Note], [UserTypeID]) VALUES (107, 18, NULL, 2)
INSERT [dbo].[Decentralization] ([ID], [RoleID], [Note], [UserTypeID]) VALUES (109, 20, NULL, 2)
SET IDENTITY_INSERT [dbo].[Decentralization] OFF
SET IDENTITY_INSERT [dbo].[DiscountCode] ON 

INSERT [dbo].[DiscountCode] ([ID], [ExpirationDate], [NumberDiscount], [UserID], [IsActive]) VALUES (1, CAST(N'2022-03-01T00:00:00.000' AS DateTime), 10, 3, 1)
INSERT [dbo].[DiscountCode] ([ID], [ExpirationDate], [NumberDiscount], [UserID], [IsActive]) VALUES (2, CAST(N'2022-02-22T00:00:00.000' AS DateTime), 5, 3, 1)
INSERT [dbo].[DiscountCode] ([ID], [ExpirationDate], [NumberDiscount], [UserID], [IsActive]) VALUES (3, CAST(N'2022-02-26T00:00:00.000' AS DateTime), 15, 3, 1)
SET IDENTITY_INSERT [dbo].[DiscountCode] OFF
SET IDENTITY_INSERT [dbo].[DiscountCodeDetail] ON 

INSERT [dbo].[DiscountCodeDetail] ([ID], [DiscountCodeID], [Code], [IsUsed], [IsOwned]) VALUES (1, 1, N'olhrh', 0, 1)
INSERT [dbo].[DiscountCodeDetail] ([ID], [DiscountCodeID], [Code], [IsUsed], [IsOwned]) VALUES (2, 1, N'du0a4', 0, 0)
INSERT [dbo].[DiscountCodeDetail] ([ID], [DiscountCodeID], [Code], [IsUsed], [IsOwned]) VALUES (3, 1, N'hy7a8', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[DiscountCodeDetail] OFF
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([ID], [Name]) VALUES (1, N'Bé trai')
INSERT [dbo].[Gender] ([ID], [Name]) VALUES (2, N'Bé gái')
INSERT [dbo].[Gender] ([ID], [Name]) VALUES (3, N'Tất cả')
SET IDENTITY_INSERT [dbo].[Gender] OFF
SET IDENTITY_INSERT [dbo].[ImportCoupon] ON 

INSERT [dbo].[ImportCoupon] ([ID], [Date], [IsDelete], [UserID], [SupplierID]) VALUES (3, CAST(N'2021-12-17T10:24:53.013' AS DateTime), 0, 3, 1)
INSERT [dbo].[ImportCoupon] ([ID], [Date], [IsDelete], [UserID], [SupplierID]) VALUES (4, CAST(N'2021-12-20T15:26:58.830' AS DateTime), 0, 3, 1)
SET IDENTITY_INSERT [dbo].[ImportCoupon] OFF
SET IDENTITY_INSERT [dbo].[ImportCouponDetail] ON 

INSERT [dbo].[ImportCouponDetail] ([ID], [ImportCouponID], [ProductID], [Price], [Quantity]) VALUES (3, 3, 1, 200000, 100)
INSERT [dbo].[ImportCouponDetail] ([ID], [ImportCouponID], [ProductID], [Price], [Quantity]) VALUES (4, 4, 1, 150000, 100)
SET IDENTITY_INSERT [dbo].[ImportCouponDetail] OFF
SET IDENTITY_INSERT [dbo].[ItemCart] ON 

INSERT [dbo].[ItemCart] ([ID], [UserID], [ProductID], [Quantity], [Total]) VALUES (7, 3, 1, 1, CAST(549000.00 AS Decimal(18, 2)))
INSERT [dbo].[ItemCart] ([ID], [UserID], [ProductID], [Quantity], [Total]) VALUES (17, 7, 1, 1, CAST(549000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ItemCart] OFF
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([ID], [FromUserID], [ToUserID], [Content], [CreatedDate], [Sent]) VALUES (128, 7, 3, N'few', CAST(N'2022-01-04T08:14:54.823' AS DateTime), 1)
INSERT [dbo].[Message] ([ID], [FromUserID], [ToUserID], [Content], [CreatedDate], [Sent]) VALUES (129, 7, 3, N'fewf', CAST(N'2022-01-04T08:15:01.503' AS DateTime), 1)
INSERT [dbo].[Message] ([ID], [FromUserID], [ToUserID], [Content], [CreatedDate], [Sent]) VALUES (130, 7, 3, N'greaer', CAST(N'2022-01-04T08:15:04.777' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Message] OFF
SET IDENTITY_INSERT [dbo].[Producer] ON 

INSERT [dbo].[Producer] ([ID], [Name], [IsActive], [SEOKeyword]) VALUES (1, N'DOLLSWORLD', 1, N'dollsworld')
SET IDENTITY_INSERT [dbo].[Producer] OFF
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([ID], [Name], [IsActive], [LastUpdatedDate], [ParentID], [SEOKeyword]) VALUES (1, N'Búp bê baby', 1, CAST(N'2021-12-17T10:14:21.747' AS DateTime), 1, N'bup-be-baby')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
SET IDENTITY_INSERT [dbo].[ProductCategoryParent] ON 

INSERT [dbo].[ProductCategoryParent] ([ID], [Name], [SeoKeyword]) VALUES (1, N'Búp bê', N'bup-be')
SET IDENTITY_INSERT [dbo].[ProductCategoryParent] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[ProductViewed] ON 

INSERT [dbo].[ProductViewed] ([ID], [UserID], [ProductID], [Date]) VALUES (1, 3, 1, CAST(N'2021-12-20T18:27:44.003' AS DateTime))
INSERT [dbo].[ProductViewed] ([ID], [UserID], [ProductID], [Date]) VALUES (3, 7, 1, CAST(N'2022-01-05T15:26:39.180' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductViewed] OFF
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([ID], [ProductID], [UserID], [Star], [Content]) VALUES (1, 1, 3, 5, N'ok')
INSERT [dbo].[Rating] ([ID], [ProductID], [UserID], [Star], [Content]) VALUES (2, 1, 7, 5, N'Sản phẩm rất tốt')
INSERT [dbo].[Rating] ([ID], [ProductID], [UserID], [Star], [Content]) VALUES (3, 1, 7, 5, N'gfdg')
SET IDENTITY_INSERT [dbo].[Rating] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name], [NameDisplay]) VALUES (1, N'ProductManage', N'Sản phẩm')
INSERT [dbo].[Role] ([ID], [Name], [NameDisplay]) VALUES (2, N'DiscountCodeManage', N'Mã giảm giá')
INSERT [dbo].[Role] ([ID], [Name], [NameDisplay]) VALUES (4, N'ImportProductManage', N'Nhập hàng')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([ID], [Name], [Address], [Phone], [Email], [IsActive], [LastUpdatedDate], [TotalAmount]) VALUES (1, N'Tổng hợp', N'TP.HCM', N'1234567890', N'tonghop@gmail.com', 1, CAST(N'2021-12-17T10:17:30.927' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserTypeID], [Password], [FullName], [Address], [Email], [PhoneNumber], [EmailConfirmed], [Capcha], [AmountPurchased], [Avatar], [IsDeleted]) VALUES (3, 1, N'12345678', N'Admin', N'can tho', N'admin@gmail.com', N'1234567890', 1, N'123456', CAST(549000 AS Decimal(18, 0)), NULL, 0)
INSERT [dbo].[User] ([ID], [UserTypeID], [Password], [FullName], [Address], [Email], [PhoneNumber], [EmailConfirmed], [Capcha], [AmountPurchased], [Avatar], [IsDeleted]) VALUES (7, 2, N'12345678', N'Nguyễn Văn A', N'CanTho', N'nva@gmail.com', N'1111111111', 1, N'8xfh9oklj3', CAST(2745000 AS Decimal(18, 0)), N'user.png', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserDiscountCode] ON 

INSERT [dbo].[UserDiscountCode] ([ID], [UserID], [DiscountCodeDetailID]) VALUES (17, 7, 3001)
INSERT [dbo].[UserDiscountCode] ([ID], [UserID], [DiscountCodeDetailID]) VALUES (18, 7, 3002)
INSERT [dbo].[UserDiscountCode] ([ID], [UserID], [DiscountCodeDetailID]) VALUES (19, 7, 1)
SET IDENTITY_INSERT [dbo].[UserDiscountCode] OFF
SET IDENTITY_INSERT [dbo].[UsersSpin] ON 

INSERT [dbo].[UsersSpin] ([ID], [UserID], [NumberOfSpins]) VALUES (1, 7, 0)
SET IDENTITY_INSERT [dbo].[UsersSpin] OFF
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[UserType] ([ID], [Name]) VALUES (2, N'Client')
SET IDENTITY_INSERT [dbo].[UserType] OFF
ALTER TABLE [dbo].[Decentralization] ADD  DEFAULT ((0)) FOR [UserTypeID]
GO
ALTER TABLE [dbo].[ImportCoupon] ADD  DEFAULT ((0)) FOR [UserID]
GO
ALTER TABLE [dbo].[ImportCoupon] ADD  DEFAULT ((0)) FOR [SupplierID]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [IsDelivere]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [IsReceived]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((0)) FOR [IsRating]
GO
ALTER TABLE [dbo].[Producer] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  DEFAULT ((0)) FOR [ParentID]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__AgeID__0D7A0286]  DEFAULT ((0)) FOR [AgeID]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Gender__1AD3FDA4]  DEFAULT ((0)) FOR [GenderID]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Discou__1CBC4616]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[ProductViewed] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Date]
GO
ALTER TABLE [dbo].[QA] ADD  CONSTRAINT [DF__QA__DateQuestion__41B8C09B]  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateQuestion]
GO
ALTER TABLE [dbo].[QA] ADD  CONSTRAINT [DF__QA__DateAnswer__42ACE4D4]  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateAnswer]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [LastUpdatedDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [UserTypeID]
GO
ALTER TABLE [dbo].[Decentralization]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Decentralization_dbo.Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Decentralization] CHECK CONSTRAINT [FK_dbo.Decentralization_dbo.Role_RoleID]
GO
ALTER TABLE [dbo].[Decentralization]  WITH CHECK ADD  CONSTRAINT [FK_Decentralization_UserType] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([ID])
GO
ALTER TABLE [dbo].[Decentralization] CHECK CONSTRAINT [FK_Decentralization_UserType]
GO
ALTER TABLE [dbo].[DiscountCode]  WITH CHECK ADD  CONSTRAINT [FK_DiscountCode_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[DiscountCode] CHECK CONSTRAINT [FK_DiscountCode_User]
GO
ALTER TABLE [dbo].[DiscountCodeDetail]  WITH CHECK ADD  CONSTRAINT [FK_DiscountCodeDetail_DiscountCode] FOREIGN KEY([DiscountCodeID])
REFERENCES [dbo].[DiscountCode] ([ID])
GO
ALTER TABLE [dbo].[DiscountCodeDetail] CHECK CONSTRAINT [FK_DiscountCodeDetail_DiscountCode]
GO
ALTER TABLE [dbo].[ImportCoupon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImportCoupon_dbo.Supplier_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImportCoupon] CHECK CONSTRAINT [FK_dbo.ImportCoupon_dbo.Supplier_SupplierID]
GO
ALTER TABLE [dbo].[ImportCoupon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImportCoupon_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImportCoupon] CHECK CONSTRAINT [FK_dbo.ImportCoupon_dbo.User_UserID]
GO
ALTER TABLE [dbo].[ImportCouponDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImportCouponDetail_dbo.ImportCoupon_ImportCouponID] FOREIGN KEY([ImportCouponID])
REFERENCES [dbo].[ImportCoupon] ([ID])
GO
ALTER TABLE [dbo].[ImportCouponDetail] CHECK CONSTRAINT [FK_dbo.ImportCouponDetail_dbo.ImportCoupon_ImportCouponID]
GO
ALTER TABLE [dbo].[ImportCouponDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImportCouponDetail_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ImportCouponDetail] CHECK CONSTRAINT [FK_dbo.ImportCouponDetail_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ItemCart]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cart_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemCart] CHECK CONSTRAINT [FK_dbo.Cart_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ItemCart]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cart_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemCart] CHECK CONSTRAINT [FK_dbo.Cart_dbo.User_UserID]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([FromUserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([ToUserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Order_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Order_OrderID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategory_dbo.ProductCategoryParent_ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[ProductCategoryParent] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_dbo.ProductCategory_dbo.ProductCategoryParent_ParentID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Ages_AgeID] FOREIGN KEY([AgeID])
REFERENCES [dbo].[Age] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Ages_AgeID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Gender_GenderID] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Gender_GenderID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Producer_ProducerID] FOREIGN KEY([ProducerID])
REFERENCES [dbo].[Producer] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Producer_ProducerID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategory_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategory] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategory_CategoryID]
GO
ALTER TABLE [dbo].[ProductViewed]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductViewed_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductViewed] CHECK CONSTRAINT [FK_dbo.ProductViewed_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ProductViewed]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductViewed_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductViewed] CHECK CONSTRAINT [FK_dbo.ProductViewed_dbo.User_UserID]
GO
ALTER TABLE [dbo].[QA]  WITH CHECK ADD FOREIGN KEY([UserAnswerID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[QA]  WITH CHECK ADD FOREIGN KEY([UserAskID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[QA]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QA_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QA] CHECK CONSTRAINT [FK_dbo.QA_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rating_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_dbo.Rating_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rating_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_dbo.Rating_dbo.User_UserID]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.UserType_UserTypeID] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.UserType_UserTypeID]
GO
ALTER TABLE [dbo].[UserDiscountCode]  WITH CHECK ADD  CONSTRAINT [FK_UserDiscountCode_DiscountCodeDetail] FOREIGN KEY([DiscountCodeDetailID])
REFERENCES [dbo].[DiscountCodeDetail] ([ID])
GO
ALTER TABLE [dbo].[UserDiscountCode] CHECK CONSTRAINT [FK_UserDiscountCode_DiscountCodeDetail]
GO
ALTER TABLE [dbo].[UserDiscountCode]  WITH CHECK ADD  CONSTRAINT [FK_UserDiscountCode_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserDiscountCode] CHECK CONSTRAINT [FK_UserDiscountCode_User]
GO
ALTER TABLE [dbo].[UsersSpin]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
